*,

body {
    background-color: bisque;
background-image: url();
background-repeat: no-repeat;
background-size:40cm;
}

.ul-allrooms {

}

.container-livingroom { 


}

.li-livingroom {
}

.livingroom {

}