*,
body {
background-image: url();
background-repeat: no-repeat;
background-size:40cm;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-allrooms {

}

.container-livingroom { 


}

.li-livingroom {
}

.livingroom {

}