*,

body {
background-image: url();
background-repeat: no-repeat;
background-size:40cm;
}

.ul-allrooms {


}

.container-livingroom { 
background-color: aqua;

}

.li-livingroom {
    height: 30vh;
    width: 30vh;
background-color: aliceblue;
}

.livingroom {
    color: aquamarine;

}